html{
    width: 100%;
    height: 100%;
    background-color: #051121;
}
body{
    margin: 0 0 0 0;
}
#canv{
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 90px 50px rgba(0,0,0,0.6);
	border-top: 9px solid rgba(255,255,255, 0.1);
	border-bottom: 9px solid rgba(255, 255, 255, 0.1);
    border-right: 9px solid rgba(255,255,255, 0.3);
	border-left: 9px solid rgba(8, 34, 179, 0.3);
    border-radius: 30px;
    top:20%;
}